@import "tailwindcss";


@theme {
    --breakpoint-s: 768px;
    --breakpoint-sm: 835px;
    --breakpoint-m: 1024px;
    --breakpoint-l: 1280px;
    /* --shadow-custom
    : rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px */
  }