@import "tailwindcss";

@theme {
    --breakpoint-xs: 450px;
    --breakpoint-s: 768px;
    --breakpoint-sm: 835px;
    --breakpoint-m: 1024px;
    --breakpoint-l: 1280px;
    --shadow-custom : rgba(0, 0, 0, 0.5) 0px 0px 30px;
}
.container {
    width: 100%;
    @media (width >= 450px) {
        max-width: 650px;
    }
    @media (width >= 768px) {
        max-width: 768px;
    }
    @media (width >= 835px) {
        max-width: 835px;
    }
    @media (width >= 1024px) {
        max-width: 1024px;
    }
    @media (width >= 1280px) {
    max-width: 1280px;
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}
.animate-marquee {
    display: flex;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.pop-in {
    animation: popIn 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-80px) ;
    }
    100% {
        opacity: 1;
        transform: translateX(0) ;
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(80px) ;
    }
    100% {
        opacity: 1;
        transform: translateX(0) ;
    }
}

.from-left {
    animation: slideFromLeft 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.from-right {
    animation: slideFromRight 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.item {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
}

.item:nth-child(1) { animation-delay: 0.0s; }
.item:nth-child(2) { animation-delay: 0.15s; }
.item:nth-child(3) { animation-delay: 0.30s; }
.item:nth-child(4) { animation-delay: 0.45s; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
