@import "tailwindcss";


@theme {
    --breakpoint-xs: 450px;
    --breakpoint-s: 768px;
    --breakpoint-sm: 835px;
    --breakpoint-m: 1024px;
    --breakpoint-l: 1280px;
    --shadow-custom : rgba(0, 0, 0, 0.5) 0px 0px 30px;
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .animate-marquee {
    display: flex;
    animation: marquee 40s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }